/.DS_Store
/1.py
/121EE0331.pdf
/2.py
/3.py
/FINAL.pdf
/FINALFIRST-1.pdf
/FINALFIRST.pdf
/Screenshot 2022-12-07 at 3.22.25 PM.png
/Screenshot 2022-12-07 at 3.23.32 PM.png
/Screenshot 2022-12-07 at 3.31.21 PM.png
/WhatsApp Image 2022-12-04 at 6.35.54 PM.jpeg
/question1.py
/question11.py
/question4.py
/testing.py
/welcome.py